.ins-tile--cover.ins-tile--halfscreen-left .ins-tile__footer:not(:first-child) .ins-tile__buttons, .ins-tile--cover.ins-tile--halfscreen-left .ins-tile__buttons:not(:first-child) {
margin-top: 40px;
}
.ins-tile--cover.ins-tile--fullscreen-center .ins-tile__wrap {
align-items: center;
justify-content: start;
margin-top: -226px;
margin-left: -2px;
}
.btn--add-to-cart {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}
.btn--add-to-cart:hover {
    background-color: #333;
}
